type fpc_socket, file_type, data_file_type, core_data_file_type;
type fpc_data_file, file_type, data_file_type, core_data_file_type;
type fps_data_file, file_type, data_file_type, core_data_file_type;
